financialadfproject/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "financialadfproject"
		},
		"LS_ADLS_Parametrized_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_Parametrized'"
		},
		"OnPrem_FileSystem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'OnPrem_FileSystem'"
		},
		"LS_ADLS_Parametrized_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://financialdatalakeproject.dfs.core.windows.net/"
		},
		"OnPrem_FileSystem_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "//10.0.0.4\\onprem_simulation"
		},
		"OnPrem_FileSystem_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "Navyasharma"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/OnPremFolderToBronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_File_Count_OnPrem",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_OnPrem_Raw",
								"type": "DatasetReference",
								"parameters": {
									"source_folder": "@pipeline().parameters.source_folder",
									"file_name": "@pipeline().parameters.file_name"
								}
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "FileServerReadSettings",
								"skipMissingFiles": true,
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Append_File_Count",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Get_File_Count_OnPrem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varFileCount",
							"value": {
								"value": "@activity('Get_File_Count_OnPrem').output.itemName",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_Folder_OnPrem_To_ADLS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Append_File_Count",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.source_folder",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.file_name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_Raw",
								"type": "DatasetReference",
								"parameters": {
									"source_folder": {
										"value": "@pipeline().parameters.source_folder",
										"type": "Expression"
									},
									"file_name": "@pipeline().parameters.file_name"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Bronze",
								"type": "DatasetReference",
								"parameters": {
									"target_container": "@pipeline().parameters.target_container",
									"target_path": "@pipeline().parameters.target_path"
								}
							}
						]
					},
					{
						"name": "Web_Success_LogicApp",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy_Activity_Logs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-17.northcentralus.logic.azure.com:443/workflows/e5375e3fd9374ee396f8ec8fba17077c/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=pmBnbJtuaYOwV_rTZJtUnJV06BdbTwG-g--Tna5uQzA",
							"body": {
								"statusCode": "Success"
							}
						}
					},
					{
						"name": "Web_Failure_LogicApp",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy_Activity_Logs",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-17.northcentralus.logic.azure.com:443/workflows/e5375e3fd9374ee396f8ec8fba17077c/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=pmBnbJtuaYOwV_rTZJtUnJV06BdbTwG-g--Tna5uQzA",
							"body": {
								"statusCode": "Failed"
							}
						}
					},
					{
						"name": "Copy_Activity_Logs",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Folder_OnPrem_To_ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "pipelineRunId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "pipelineName",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									{
										"name": "runTimestamp",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "pipeline-logs",
									"wildcardFileName": "pipeline-log-*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 4,
									"blockSizeInMB": 4
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "pipelineRunId",
											"type": "String"
										},
										"sink": {
											"name": "pipelineRunId"
										}
									},
									{
										"source": {
											"name": "pipelineName",
											"type": "String"
										},
										"sink": {
											"name": "pipelineName"
										}
									},
									{
										"source": {
											"name": "runTimestamp",
											"type": "String"
										},
										"sink": {
											"name": "runTimestamp"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Logging",
								"type": "DatasetReference",
								"parameters": {
									"log_container": "@pipeline().parameters.log_container",
									"log_path": {
										"value": "@pipeline().parameters.log_path",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Logging",
								"type": "DatasetReference",
								"parameters": {
									"log_container": "@pipeline().parameters.log_container",
									"log_path": {
										"value": "@pipeline().parameters.log_path",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"source_folder": {
						"type": "string"
					},
					"file_name": {
						"type": "string",
						"defaultValue": "*.csv"
					},
					"target_container": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"target_path": {
						"type": "string",
						"defaultValue": "financial-data"
					},
					"log_path": {
						"type": "string",
						"defaultValue": "pipeline-logs"
					},
					"log_container": {
						"type": "string",
						"defaultValue": "activity-logs"
					},
					"account_name": {
						"type": "string",
						"defaultValue": "financialdatalakeproject"
					}
				},
				"variables": {
					"varFileCount": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_OnPrem_Raw')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Bronze')]",
				"[concat(variables('factoryId'), '/datasets/DS_Logging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Parametrized",
					"type": "LinkedServiceReference",
					"parameters": {
						"account_name": "@dataset().target_container",
						"container_name": "@dataset().target_path"
					}
				},
				"parameters": {
					"target_container": {
						"type": "string"
					},
					"target_path": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().target_path",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().target_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Parametrized')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Logging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Parametrized",
					"type": "LinkedServiceReference",
					"parameters": {
						"account_name": "@pipeline().parameters.account_name",
						"container_name": "@pipeline().parameters.log_container"
					}
				},
				"parameters": {
					"log_path": {
						"type": "string"
					},
					"log_container": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('pipeline-log-', formatDateTime(utcNow(),'yyyy-MM-ddTHH-mm-ss'), '.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().log_path",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().log_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Parametrized')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_OnPrem_Raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnPrem_FileSystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"source_folder": {
						"type": "string"
					},
					"file_name": {
						"type": "string",
						"defaultValue": "*.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().source_folder",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnPrem_FileSystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Parametrized')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"account_name": {
						"type": "string"
					},
					"container_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Parametrized_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_Parametrized_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPrem_FileSystem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('OnPrem_FileSystem_properties_typeProperties_host')]",
					"userId": "[parameters('OnPrem_FileSystem_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('OnPrem_FileSystem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "OnPremRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/OnPremRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "SHIR for simulating on-premises storage",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}